.circle {
  position: relative;
  margin: 0 auto;
  max-width: 700px;
}

.circle:after {
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-image: url('../assets/photos/profile.png');
  background-blend-mode: multiply;
  background-color: #F9F9F9;
  background-size: 100%;
  background-position: right -120px bottom;
  background-repeat: no-repeat;
  filter: opacity(0.5) grayscale(100%);
  content: "";
}

.circle-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.circle-inner:after {
  display: block;
  background-color: #FFFFFF;
  position: absolute;
  padding-bottom: 70%;
  width: 70%;
  height: 0;
  border-radius: 50%;
  content: "";
}

.circle-content {
  z-index: 1;
}
